:root{
  --hand-size: 1%;
}

#stopWatchTimeDisplay span {
  margin: 2rem;
}

#clock {
  position: relative;
  width: 80vw;
  aspect-ratio: 1/1;
  max-height: 60vh;
}
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 100%;
}
.mini-circle {
  position: absolute;
  top: 12%;
  right: 35%;
  width: 30%;
  height: 30%;
  background-color: gray;
  border-radius: 100%;
}
.hand {
  position: absolute;
  top: calc(50% - var(--hand-size) / 2);
  height: var(--hand-size);
  width: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.m-hand {
  background-color: orange;
  height: calc(var(--hand-size) * 3 );
}
.s-hand {
  background-color: orange;
}
.s-hand.lap {
  background-color: blue;
}
